img {
    display: block;
    margin: auto;
    width: 100vw;
    height: 100vh; 
    border: 3px solid green;
    position: absolute; 
    z-index: -1;
    opacity: .7;
    object-fit: cover; 
}

#root {
    text-align: center; 
    font-family: 'Cabin', sans-serif;

}

audio{
    display: none;
}