#mapid { 
    height: 400px;
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 10px 10px grey;

}
img {
    max-width:100%;

}
#record-pic.img {
    max-width: 100px;
}
header {
    text-align: center; 
    font-family: 'Bungee Shade', cursive;
    font-family: 'Bangers', cursive;
    font-size: 25pt; 
    color:rgb(247, 247, 91); 
    text-shadow: 1pt 10pt 5pt grey; 
    z-index: -4;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color:black; 
}
body {
    background-size: 15%;
    object-fit: fill; 
    opacity: 0.9;
}
.coffee-marker {
    background-image: url('/assets/coffee-icon.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
.brunch-marker {
    background-image: url('/assets/brunch.jpg.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
.record-marker {
    background-image: url('/assets/record-icon.jpg'); 
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .store-marker {
    background-image: url('/assets/store-icon.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .hiking-marker {
    background-image: url('/assets/hiking-icon.jpg');
    background-size: cover;
    width: 50px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .bookstore-marker {
    background-image: url('/assets/bookstore-icon.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .chicken-marker {
    background-image: url('/assets/chicken.jpg.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .art-marker {
    background-image: url('/assets/art.jpg.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .bird-marker {
    background-image: url('/assets/bird.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2pt dashed red;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .mapboxgl-popup {
    width: 100px;
    height: 50px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Bangers', cursive;
    color:rgb(247, 247, 91); 
    z-index: -4;
    -webkit-text-stroke-width: .5px; 
    -webkit-text-stroke-color:black;
    font-size: 10pt; 
  }
