#mapid { 
    height: 400px;
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 10px 10px grey;

}
img {
    max-width:100%;

}
#record-pic.img {
    max-width: 100px;
}
header {
    text-align: center; 
    font-family: 'Cabin', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-size: 25pt; 
    text-shadow: 1pt 3pt 5pt lightblue; 
    z-index: -4;
}
body {
    background-size: 15%;
    object-fit: fill; 
    opacity: 0.9;
}
.marker {
    background-image: url('/assets/mayor01cut.jpg');
    background-size: cover;
    width: 50px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
