.question-header {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 25pt;
    background-color: #eca542; 
    border: 1px solid rgb(231, 231, 96); 
    box-shadow: 10px 10px #d95500;
    margin: 40px;
}
.question {
    font-family: 'Ropa Sans', sans-serif;
    font-size:20px;
    text-align: center;
    margin: 20px 50px;
    padding:
}
.answers-form { 
    text-align: left; 
    font-family: 'Pavanam', sans-serif;
    font-size: 15pt;
    padding: 5px; 
}
.answer {
    padding: 5px;
    /* margin: 15px 50px; */
}
.question-image {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;}

.question-button {
    padding:20px;
}

@media screen and (max-width: 600px) {
.content {
	width: 80%;
	padding: 1%;
	background-color: #eca542;
    }
.question-image {
    width: 100%;
    background-color: #eca542;
    }
.question-header {
    align-items: left;
    width:80%;
    }
}